[mysqld]
user = mysql
datadir = /var/lib/mysql
log_error = /var/log/mysql/error.log
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
bind-address=0.0.0.0

[client]
socket = /var/run/mysqld/mysqld.sock