[mysqld]
user = mysql
basedir = /usr
tmpdir = /tmp
datadir = /var/lib/mysql
log_error = /var/log/mysql/error.log
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
bind-address = 0.0.0.0
port = 3306

[client]
socket = /var/run/mysqld/mysqld.sock